
$pc-media: 1440px;
$pcs-media: 1439px;
$smallpc-media: 1024px;
$smallpcs-media: 1023px;
$pad-media: 768px;
$pads-media: 767px;
$phone-media: 480px;
$phones-media: 479px;
$smallphone-media: 321px;
$smallphones-media: 320px;
